<h1>TochiSlide</h1>



<h2>Elevator Pitch</h2>

<p>TochiSlide is for Brunei people who want to avoid landslides.

In this website, you can share your information about landslides. 

TochiSlide is better than Google Map or any other weather forecasts,

because it provides combined information such as OpenWeaterMap and people's reports. 

Using this App, we can avoid landslides. And also it will help us to find good places for new buildings.</p><br>

<%=link_to 'Register page', '/landslides', target:'_blank' %>
